.cart-product-card {
  width: 200px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  margin: 20px;}

.cart-product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-product-card img {
  object-fit: contain;
}

.cart-product-card h2 {
  font-size: .9rem;
  margin: 10px 0;
}

.cart-product-card .price {
  text-align: center;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin: 10px 0;
}